Items<div><ejs-checkbox label="sports"></ejs-checkbox>
<ejs-checkbox label="Arts"></ejs-checkbox></div>
Games
<div class="dropdown">
    <ejs-dropdownlist id='ddlelement' [dataSource]='data'></ejs-dropdownlist>
  </div>

  <ul>
    <!-- To Render RadioButton. -->
    <li><ejs-radiobutton label="Option 1" name="default"></ejs-radiobutton></li>

    <li><ejs-radiobutton label="Option 2" name="default" checked="true"></ejs-radiobutton></li>
    </ul>


    <ul>
      <li>
        <ejs-timepicker placeholder='Select a time' ></ejs-timepicker>
      </li>
    </ul>
CARD
    <div tabindex="0" class="e-card" id="basic">
      <div class="e-card-header">
          <div class="e-card-header-caption">
              <div class="e-card-title">A Simple Card</div>
          </div>
      </div>
      <div class="e-card-content">
          Communicating with Windows 10 and Other Apps, the second in a five-part series written by Succinctly series
          author Matteo Pagani. To download the complete white paper, and other papers in the series, visit
          the White Paper section of Syncfusion’s Technology Resource Portal.
      </div>
  </div>
   
    